{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if messages %}

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: black;">Message</h4>
        </div>
        <div class="modal-body">
    <ul class="messages">
      {% for message in messages %}

          <p style="color: black;">{{ message }}</p>
      </li>
      {% endfor %}
    </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
      $('#myModal').modal('show');
</script>
{% endif %}

<div class="container">
    <h2>Medicines</h2>
    {%  for v in data %}
      <div class="row">
        <div class="container">
            <form class="form" method="post" action="{% url 'cart' %}">
                {% csrf_token %}
          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">{{ v.name }}</h3>
              <h4><bold>Price:</bold> {{ v.price }} /- </h4>
              <p class="card-text"><strong>Category: </strong>{{ v.category }}</p>
              <p class="card-text"><strong>Manufactured By: </strong>{{ v.mfg }}</p>
              <p class="card-text"><strong>Salt: </strong>{{ v.salt }}</p>
              <p class="card-text"><strong>Prescription: </strong>{{ v.presc }}</p>
              <p class="card-text"><strong>Description: </strong>{{ v.desc }}</p>
            </div>
          </div>
          <div class="card card-outline-secondary my-4">
            <div class="card-body">
               <input type="hidden" name="batchno" value={{ v.BatchNo }}>
               <input type="hidden" name="page" value="product_medicine">
                <strong>Quantity:</strong> <input type="number" name="quantity" min="1" max="{{ v.quantity }}" step="1" value="1">
              &nbsp;<button class="btn btn-success" type="submit">Add to Cart</button>
            </div>
              </form>
              <hr class="featurette-divider">
          </div>
        </div>

    {% endfor %}
    </div>
    <br><br>

{%  endblock %}
